<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wuye.admin.mapper.IModuleMapper">

	<resultMap id="ModuleResultMap" type="Module" >
		<id property="no" column="MNO" />
		<result property="name" column="MNAME"/>
	</resultMap>
	
	<insert id="add" parameterType="Module">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select SQ_SYSTEMMODULE.nextval from dual
		</selectKey>
		insert into SystemModule (MNO,MNAME) values (#{no},#{name})
	</insert>
	
	<delete id="delete" parameterType="Module">
		delete from SystemModule where mno = #{no}
	</delete>
		
	<select id="select" parameterType="int" resultMap="ModuleResultMap">
		select * from SystemModule where MNO=#{moduleNo}
	</select>
	
	
	<select id="selectListByAll" resultMap="ModuleResultMap">
		select * from SystemModule
	</select>

	<select id="getCountByAll" resultType="_int">
		select count(*) from SystemModule 
	</select>
	
	<select id="getListByAllWithPage" resultMap="ModuleResultMap">
		select * from SystemModule
	</select>


</mapper>

